* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: 1s opacity ease;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes navBarAnimation {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



.content {
    opacity: 1;
    animation: fadeIn 1.5s ease-in;
}

body {
    /*background-image: url(./assets/background-image.jpg);*/
    background-color: #171717;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navBar {
    padding: 30px 5%;
    animation: navBarAnimation 1s ease-in;
}

.navbar-show {
    transform: translateY(0);
}


.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all ease;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 9px;
    font-size: 22px;
    font-weight: 300;
    transition: 0.25s all ease;
    border-bottom: 2px solid transparent;
}

.nav-item a:hover {
    border-bottom: 2px solid white;
}

#navbarMenuIcon {
    display: none;
    cursor: pointer;
}




/*HOME PAGE*/

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    margin-bottom: 150px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 450px;
}


.button-language {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400
}

.heading-sections {
    font-size: 44px;
    line-height: 1.5em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.button-language.activo {
    font-weight: 800;
    text-decoration: underline;
}

.agency-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.agency-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
    max-width: 940px;
}

.div-block {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.75);
    margin-bottom: 250px;
}

.div-block img {
    width: 350px;
    border-radius: 3px;
}

.div-block p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 0px 40px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    line-height: 1.4em;
}

.leaders-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
}

.lideres-foto{
    height: 650px;
    margin-right: 60px;
}

.lideres-button{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 20px;
    padding: 9px 10px;
    width: 40%;
    background-color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.25s all ease;
    margin-top: 40px;
}

.lideres-button:hover{
    background-color: #474747;
}

.leaders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spans-lideres{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}
.spans-lideres span {
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4em;
}

/*FOOTER*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    font-size: 16px;
    font-weight: 200;
}

.text-footer a {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

/*SERVICIOS PAGE*/
.servicios-section {
    margin-top: 150px;
    margin-bottom: 250px;
    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios-container {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135%;
    list-style: none;
}

.servicios-link {
    padding: 0 10px;
    background-color: transparent;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.5em;
    border: none;
    border-right: 1px solid white;
    cursor: pointer;
    transition: .3s all ease;
}

.servicios-link:hover {
    padding: 0 25px;
    color: #8d8d8d;
}

.services-title {
    margin-bottom: 20px;
}

.descripcion-servicio {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 3px;
    padding: 60px 40px;
    max-width: 80%;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.40);
    -webkit-box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.40);
    -moz-box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.40);
}

.servicio-paragraph {
    text-align: center;
    font-size: 24px;
    line-height: 1.4em;
    align-self: center;
    border-radius: 3px;
}

.clientes-section {
    margin-bottom: 150px;
    margin-top: 100px;
}

.clientes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

}

.clientes-container h1 {
    align-self: self-start;
    margin-left: 12%;
}

.clientes-container h2{
    margin-top: 3%;
    font-weight: 300;
    font-size: 25px;
}

.carousel {
    overflow-x: hidden;
    width: 75%;
 
}

.slider {
    display: flex;
    flex-direction: column;
    /* Cambiar la dirección a columna para crear filas */
    height: auto;
    /* Altura del slider */
    cursor: grab;
   
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item {
    flex: 0 0 calc(25%);
    /* Ajusta el ancho de los elementos */
}

.item img {
    width: 65%;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

/*LIDERES PAGE*/
.lideres-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 250px;
    padding: 50px 0;
}

.lideres-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 940px;
}

.lideres-container p {
    width: 85%;
    height: 100%;
    padding: 70px 40px;
    text-align: center;
    font-size: 24px;
    line-height: 1.4em;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.40);
    -webkit-box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.40);
    -moz-box-shadow: 1px 10px 36px -3px rgba(0,0,0,0.40);
}

.team-section {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 10px;
    width: 50%;
    max-width: 50%;
}

.column-1 h1 {
    padding: 0 40px;
}

.column-1 p.team-p {
    padding: 34px 40px;
    width: 80%;
    font-size: 24px;
    line-height: 1.4em;
}

.column-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%;
}

.column-1 h4 {
    padding: 0 40px;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 0;
}

.lideres-p {
    padding: 10px 40px;
    width: 80%;
    font-size: 24px;
    line-height: 1.4em;
}

.column-2 img {
    height: 450px;
}

/*CONTACT PAGE*/
.section-contact {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88vh;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.column1-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 10px;
    width: 50%;
    max-width: 50%;
}

.column1-contact h1 {
    margin-left: 20px;
}

.column1-contact p {
    font-size: 20px;
    line-height: 1.5em;
    padding: 0 20px;
    margin-left: 20px;
}

.column1-contact b {
    font-size: 20px;
    line-height: 1.5em;
    padding: 0 20px;
    margin-left: 20px;
}


.column2-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    align-self: stretch;
    background-color: rgba(255, 255, 255, 0.14);
    border-left: 2px solid white;
    padding: 70px 0;
}

.column2-contact ul {
    list-style: none;
    padding-left: 20%;
}

.column2-contact ul li {
    display: flex;
    padding: 0;
    margin-bottom: 10px;
    align-items: center;
}

.column2-contact ul li a {
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    cursor: pointer;
}

.column2-contact ul li img {
    height: 40px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 88vh;
}

.not-found-container h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.not-found-container p{
    font-size: 20px;
}

.not-found-container a{
    text-decoration: none;
    font-weight: 400;
    border: none;
    color: white;
    background-color: #333;
    padding: 11px 17px;
    border-radius: 3px;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
}


@media screen and (max-width: 767px) {

    #navbarMenuIcon {
        display: block;

    }

    .content.active {
        display: none;
        
    }

    .footer.active {
        display: none;
    }

    nav {
        background-color: rgba(255, 255, 255, 0.08);
        border-bottom: #5e5e5e 1px solid;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        /* Añadimos esta línea */
        top: 8.6%;
        /* Ajusta este valor según tu necesidad para dejar espacio entre el navbar y los links */
        right: 0;
        /* Añadimos esta línea */
        width: 100%;
        transition: 0.3s all ease;
        background-color: rgba(255, 255, 255, 0.08);
        
    }

    .nav-list.active {
        display: flex;
        height: 93%;
        transition: 0.3s all ease;
        animation: fadeIn 1s ease-out
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center ;
        margin-left: 0;
        /* Añadimos esta línea para que los enlaces aparezcan uno debajo del otro */
        padding: 15%;
        width: 100%;
        text-align: center;
        border-bottom: #5e5e5e 1px solid;
    }

    /*HOME PAGE*/
    .main-section {
        margin-bottom: 50px;
    }

    .logo-container img {
        width: 350px;
    }

    .button-language {
        font-size: 16px;
    }

    .heading-sections {
        text-align: center;
        font-size: 30px;
        line-height: 1.5em;
        font-weight: 700;
        margin-top: 10px;
        padding: 0 10px;
    }

    .agency-section {
        margin-bottom:150px;
        padding: 7px;
    }

    .agency-container {
        padding: 10px 0;
        max-width: 100%;
    }

    .div-block {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom:0px;
    }

    .div-block img {
        width: auto;
        height: auto;
    }

    .div-block p {
        font-size: 20px;
        padding: 43px 20px;
        height: 100%;
        width: auto;
        background-color: rgba(255, 255, 255, 0.14);
        border-radius: 3px;
        line-height: 1.4em;
    }

    .leaders-section {
        margin-bottom: 150px;
 
    }

    .spans-lideres{
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .lideres-foto{
        height: 550px;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .lideres-button{
        align-self: center;
        font-size: 20px;
        margin-left: 0px;
        padding: 9px 10px;
        width: 90%;
        margin-top: 40px;
    }
    
    .spans-lideres span {
        padding: 15px;
        font-size:20px;
        font-weight: 300;
        line-height: 1.4em;
    }

    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*SERVICES PAGE*/

    .servicios-section {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 150px;
    }

    .servicios-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicios-list {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        list-style: none;

    }

    .servicios-link {
        padding: 0 10px;
        font-size: 14px;
        margin-bottom: 20px;
        height: 50px;
        cursor: pointer;
        transition: .3s all ease;
    }

    .servicios-link:hover {
        padding: 0 25px;
        color: #8d8d8d;
    }

    .descripcion-servicio {
        margin-top: 5px;
        padding: 60px 20px;
        width: auto;
        background-color: rgba(255, 255, 255, 0.14);
    }

    .servicio-paragraph {
        font-size: 20px;
    }

    .clientes-container h1 {
        align-self: self-start;
        margin-left: 5%;
    }

    .clientes-container h2{
        font-size: 18px;
    }

    .carousel {
        overflow-x: hidden;
        width: 100%;
    }


    .item {
        flex: 0 0 calc(25%);
        /* Ajusta el ancho de los elementos */
    }

    .item img {
        width: 90%;
    }

    /*LIDERES PAGE*/

    .lideres-section {
        margin-top: 120px;
        margin-bottom: 250px;
        padding: 25px 0;
    }

    .lideres-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .lideres-container p {
        width: 100%;
        padding: 50px 20px;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.14);
        border-radius: 3px;
        margin-top: 20px;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .column-1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        max-width: 100%;
    }

    .column-1 h1 {
        margin-left: -5%;
        text-align: center;
    }

    .column-1 p.team-p {
        padding: 34px 40px;
        width: 80%;
        font-size: 20px;
        line-height: 1.4em;
        text-align: center;
    }

    .column-2 {
        display: flex;
        width: 90%;
    }

    .column-2 img {
        margin-top: 50px;
        width: 350px;
        height: auto;
    }

    .column-1 h4 {
        padding: 0 40px;
        font-size: 20px;
        line-height: 1.5em;
        margin-bottom: 0;
    }

    .lideres-p {
        padding: 10px 40px;
        width: 80%;
        font-size: 18px;
        line-height: 1.4em;
        text-align: center;
    }

    .column-1 a {
        font-size: 18px;
        padding: 8px 10px;
        width: 80%;
    }


    /*CONTACT PAGE*/
    .section-contact {
        height: 100%;
        margin-top: 40px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0px;
        width: 100%;
    }

    .column1-contact {
        width: 100%;
        max-width: 100%;
    }

    .column1-contact p {
        font-size: 18px;
    }

    .column1-contact b {
        font-size: 18px;
    }


    .column2-contact {
        margin-top: 30px;
        width: 100%;
        align-self: stretch;
        background-color: rgba(255, 255, 255, 0.14);
        border-left: none;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding: 30px 0;
    }

    .column2-contact ul {
        list-style: none;
        padding-left: 10%;
    }

    .column2-contact ul li {
        display: flex;
        padding: 0;
        margin-bottom: 8px;
        align-items: center;
    }

    .column2-contact ul li a {
        font-size: 22px;
        line-height: 1em;
        text-decoration: none;
        cursor: pointer;
    }

    .column2-contact ul li img {
        height: 21px;
        padding-right: 30px;
    }

    /*FOOTER*/

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-footer {
        font-size:12px;
        font-weight: 200;
        margin-bottom: 5px;
    }

    .text-footer a {
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
    }

    /*NOT FOUND PAGE*/

    .not-found-container h1{
        font-size: 36px;
        margin-bottom: 10px;
    }
    
    .not-found-container p{
        text-align: center;
        font-size: 18px;
    }
    
    .not-found-container a{
        text-decoration: none;
        font-weight: 400;
        border: none;
        color: white;
        background-color: #333;
        padding: 11px 17px;
        border-radius: 3px;
        margin-top: 25px;
        font-size: 16px;
        cursor: pointer;
    }
}